@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --font-pri:  "Noto Sans", sans-serif;
   --cor1:#0B1120;
   --cor2:#111827;
   --cards:#1F2937;
   --azul-destaque:#22D3EE;
   --azul-hover:#06B6D4;
   --texto-branco:#F8FAFC;
   --texto-cinza:#94A3B8;
   --bordas:#334155;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}
header {
    background-color: var(--cor1);
    color: white;
    font-family: var(--font-pri);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
   
}
header > nav{
    display: flex;
    align-items: center;
}
header > nav > a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 15px;
    transition: all 0.3s ease;
  
}
header > nav > a:hover{
    color: var(--azul-destaque);
    text-decoration: underline;
    transition: all 0.3s ease;
}

header > h3{
   text-shadow: 2px 2px 0px #06b5d421;
   font-family: var(--font-pri);
}
#curricolo{
    border: 1px solid #06B6D4;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 3px;
    transition: all 0.3s ease;
}
#curricolo:hover{
    transition: all 0.3s ease;
    background-color: #06B6D4;
    color: var(--cor1);
    border: 1px solid #0B1120;
    text-decoration: none;
}


.principal {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    padding: 30px;
}

.texto {
    color: white;
}

.principal picture img {
    width: 500px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 3px 50px #06b5d470;
    border-radius: 20px;
    border: 1px solid #334155;
}
.texto > h3{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}.texto > h1{
    color: white;
    font-size: 40px;
    font-family: var(--font-pri);
    font-weight: 400;
}.texto > h2{
    background: linear-gradient(to bottom, #22D3EE,#4e678b);

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    font-family: var(--font-pri);
    font-size: 22px;
  
}.texto > p {
    color: white;
    font-family: var(--font-pri);
    margin-bottom: 20px;
}
@media(max-width: 600px){

    .principal {
        flex-direction: column;
        text-align: center;
    }

    .principal picture img {
        width: 400px;
        margin-top: 30px;
    }
}
#contato1{
    color: white;
    margin-top: 25px;
    background-color: #06B6D4;
    padding: 8px;
    border-radius: 7px;
    border: 2px solid #06B6D4;
    text-decoration: none;
    color: #0B1120;
    transition: all 0.3s ease;
}
#contato1:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    background-color: #0B1120;
    color: #06B6D4;
    border: 2px solid #06B6D4;
}
section {

}
section > h3{
    padding: 10px;
    color: whit;
    font-family: var(--font-pri);
}
.pricipol {
    background-color: var(--cor1);
    padding: 40px;
}

.pricipol h3 {
    color: white;
    font-family: var(--font-pri);
    margin-bottom: 30px;
    font-size: 22px;
    text-decoration: underline #06B6D4;
}

.conteudo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.conteudo img {
    width: 220px;
    border-radius: 20pc;
    border: 1px solid var(--bordas);
    box-shadow: 0 3px 50px #06b5d470;
    transition: all 0.3s ease;
}
.conteudo img:hover{
     transition: all 0.3s ease;
    transform: scale(1.1);
}

.texto {
    color: white;
    max-width: 600px;
}

.texto p {
    margin-bottom: 15px;
    line-height: 1.6;
}
.habilidades {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
    background:#0B1120;
}

.habilidades h2 {
    width: 100%;
    text-align: center;
    color: var(--texto-branco);
    margin-bottom: 30px;
}

.card {
    width: 260px;
    background: var(--cards);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--bordas);
    text-align: center;
    box-shadow: 0 4px 15px #06b5d45d;
     transition: all 0.3s ease;
}.card:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.card img {
    margin-bottom: 15px;
}

.card h3 {
    color: var(--texto-branco);
    margin-bottom: 15px;
}

.info {
    display: flex;
    justify-content: flex-end;
    color: var(--azul-destaque);
    font-weight: bold;
    margin-bottom: 8px;
}

.barra {
    width: 100%;
    height: 10px;
    background: #334155;
    border-radius: 10px;
    overflow: hidden;
}

.progresso {
    height: 100%;
    background: linear-gradient(to right, #22D3EE, #06B6D4);
    border-radius: 10px;
}

.html {
    width: 90%;
}

.css {
    width: 85%;
}

.js {
    width: 70%;
}
.listas {
    display: flex;
    gap: 50px; 
    background-color: #0B1120;
    color: white;
    padding-left: 100px;
}

.listas ul {
    list-style: none;
}
@media (max-width: 768px) {
    .listas {
        flex-direction: column;
        gap: 20px;
    }
}
.listas > ul > li > small {
    color: #06B6D4;
    font-size: 15px;
    
}
.listas > ul > li{
    font-family: var(--font-pri);
}
.conhecimentos{
    background-color: #0B1120;
}
.conhecimentos > h3{
     padding-left: 100px;
    color: white;
    font-weight: 400;
}.Objetivos{
    background-color: #0B1120;
    color: white;
    font-family: var(--font-pri);
    padding: 15px;
    
    
}.Objetivos > h3{
    font-size: 22px;
    padding: 15px;
    font-weight: 400;

}footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    font-size: 17px;
    padding-bottom: 10px;
}